
body {
    padding: 10px;
}


span {
    writing-mode: vertical-lr;
}


.caja {
    /* TEXT-ALIGN */
    /* text-align: center; */
    /* text-align: start; */
    text-align: end;
    /* WIDTH */
    /* min-width: 600px; */
    max-width: 600px;
    /* HEIGHT */
    min-height: 600px;
    /* max-height: 600px; */
    background: #666;
}
